<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nuron.minexpense" >

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Homepage"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.nuron.minexpense.Expense"
            android:label="@string/add_expense_page" >
            <intent-filter>
                <action android:name="com.nuron.minexpense.ADD_EXPENSE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.nuron.minexpense.Income"
            android:label="@string/add_income_page" >
            <intent-filter>
                <action android:name="com.nuron.minexpense.ADD_INCOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
            android:name=".TransactionProvider"
            android:authorities="com.nuron.minexpense.messageprovider"
            android:exported="false" />
    </application>

</manifest>
